body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    justify-items: center;
}

.wrap {
    max-width: 1440px;
    width: 100%;
}

.wrap:nth-of-type(3) {
    display: grid;
    place-items: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(/images/conference-hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px;

}

header img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 60px;
    border: 2px solid white;

}

header h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
}

header h2 {
    font-size: 1.7rem;
}

#tickets {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    max-width: 700px;
    padding: 20px 70px;
    border: 0.5px solid lightgrey;
    background-image: url(/images/swirl.png);


}

#tickets h2 {
    margin-bottom: 50px;
}

input[type=text],
[type=email] {
    width: 8rem;
    display: block;
    margin: 10px auto;

}

.credintials {
    display: none;
}