body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    justify-items: center;
}

.wrap {
    max-width: 1440px;
    width: 100%;
}

.wrap:nth-of-type(3) {
    display: grid;
    place-items: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

#Navigation ul {
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

#Navigation a {
    text-decoration: none;
    color: #495867;

}

#Navigation li {
    margin: 0 20px;


}

header {
    background-image: url(/images/city3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 50px;
    box-shadow: 3px 4px 5px lightgrey;

}

header img {
    max-width: 120px;
    max-height: 120px;
    border-radius: 60px;
    border: 2px solid white;

}

header h1 {
    font-size: 2.1rem;
    text-transform: uppercase;
}

header h2 {
    font-size: 1.7rem;
}

#tickets {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    padding: 20px 70px;
    border: 0.5px solid lightgrey;
    background-image: url(/images/swirl.png);


}

#tickets h2 {
    margin-bottom: 50px;
}

#tickets button {
    color: #e9e9e9;
    background-color: #011228;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
}

#tickets button:hover {
    transition: 0.5s;
    color: #011228;
    background-color: white;
    transform: scale(1.1);
}


input[type=text],
[type=email] {
    width: 8rem;
    display: block;
    margin: 10px auto;

}

.credintials {
    display: none;
}