
body {
    display: grid;
        grid-template-areas:
            'Navigation Navigation Navigation'
            'Header Header Header'
            'Main Main Main'
            'Footer Footer Footer'
        ;
}
nav {
    grid-area: Navigation;
}
header {
    grid-area: Header;
}
main {
    grid-area: Main;
}
footer {
    grid-area: Footer;
}